@CHARSET "UTF-8";

html {
	height: 100%;
}

body {
 margin:0;
  width: 100%;
	height: auto;
    margin: 0;
    padding: 0;
	font-size: 17px;
    color: black;
	font-family: arial black, Helvetica, sans-serif;
background: linear-gradient(to left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8)  10%, rgba(255,255,255,0.5) 20%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.5) 80%, rgba(255,255,255,0.9)  90%, rgba(255,255,255,1) 100%), url(../images/top_01.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;

}


#title {
	width: 350px;
	margin: 0 auto;
}

#title h1 {
	border-top: 5px solid black;
	padding-top: 3px;
	border-bottom: 5px solid black;
}

#top {
	padding: 40px 0;
	background-color: rgba(255,255,255,0.7);
	width: 100%;
	text-align: center;
	margin: 0 auto;
	text-align: center;
}

#main {
	font-size: 10px;
	width: 60%;
	height: 100% ;
	margin: 0 auto;
	text-align: center;
	background-color: rgba(255,255,255,0.7);
 display: flex;
  flex-direction: column;
  min-height: 83vh;

}

table {
	text-align: center;
	width: 90% ;
	margin: 0 auto;
	word-wrap: break-word;
	  flex: 1;
}


tr:nth-child(n+1){
	background-color:#EEFFFF;
	border:2px solid black;

}

tr:nth-child(even) {
	background-color: white;
}

.error{
	font-size:20px;
	color:red;
}



.button{
	margin-top:10px;
	margin-bottom:6%
}

#footer{
	margin-bottom: 0;
	margin-top: auto;


}

