/*--?S?y?[?W????--*/
@font-face{
    font-family: 'hannari';
    src: url("../webfont/hannari.otf") format('opentype');
}/*?v???O?C???????A?ﾍ�?ﾈり明???ﾆ�???web?t?H???g?ﾅ�??B????ﾍプ???O?C???????????ﾈの�?
?g???ﾆ�????font-family?ﾅ指?閧ｵ?ﾄ�??????B*/
.footer-menu{
 	clear:both;
 	width:100%;
    height: 12%;
 	position:relative;
 	filter:sepia(40%);
 	background-color:#121311;
}
footer a{
    color:#cccccc;
    text-decoration:none;
}
.inquiry{
    position:absolute;
 	left:10%;
 	line-height:90px;
 	font-family:'hannari';
    font-size:150%;
}
.company{
    position:absolute;
    right:15%;
    line-height:90px;
    font-family:'hannari';
    font-size:150%;
    color:#cccccc;
}