@CHARSET "UTF-8";

@font-face {
	font-family: 'hannari';
	src: url("../webfont/hannari.otf") format('opentype');
}

html {
	height: 100%;
	width: 100%;
}

body {
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	background-image: url("../images/backhome.jpg");
	background-size: cover;
	background-attachment: fixed;
}

.main {
	margin: 0% 0% -4% 0%;
	height: auto;
	width: 100%;
}

.headline {
	font-size: 18px;
	border: 1px solid #ccc;
	border-top: 1px solid #ccc;
	margin-bottom: 15px;
	padding: 8px 15px;
	text-align: center;
}

.loginArea {
	border-radius: 5%;
	background-color: rgba(255, 255, 255, 0.6);
	padding-top: 5%;
	padding-bottom: 0px;
	width: 70%;
	height: 75%;
	margin: 3% 10% 0% 16%;
	position: relative; <<<<<<<
	HEAD top: 5%; =======
	top: 30%;
	>>>>>>>
	aef4118afd8d904d19217c344c54c15243239a5a
}

.login {
	clear: both;
	height: 90%;
	width: 85%;
	margin: 0 auto;
	padding-bottom: 2%;
	margin
}

.login p {
	font-size: 10px;
}

.login form {
	margin-top: 50px;
	margin-bottom: 5%;
	height: 40%;
}

.user a {
	text-decoration: none;
	font-family: 'hannari';
}

a:hover {
	color: #ff0000;
	text-decoration: underline;
}

a:active {
	color: #fff;
	text-decoration: none;
}

.comments {
	text-align: center;
	margin: 0 auto;
	font-family: 'hannari';
	font-size: 115%;
}

.text-center {
	text-align: center;
	margin-top: 20px;
}

table {
	height: 60%;
	position: relative;;
	border-spacing: 0;
	border: 1px solid #cbcbcb;
	width: 100%;
	box-sizing: border-box;
}

table td, table th {
	border-left: 1px solid #cbcbcb;
	border-bottom: 1px solid #cbcbcb;
	font-size: 13px;
	margin: 0;
	padding: 10px 13px;
}

table th {
	background-color: black;
	color: white;
	text-align: center;
	white-space: nowrap;
	width: 36%;
}

tr {
	height: 30%;
}

#submit1 {
	font-family: 'hannari';
	font-weight: bold;
	color: white;
	background: black;
	font-size: 15px;
	-webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 10px 6px -6px #777;
	padding: 5px 5px 5px 5px;
	transition: .3s; /* なめらか変化 */
}

#submit1:hover {
	box-shadow: none; /* カーソル時の影消去 */
}