@CHARSET "UTF-8";
/*--全ページ共通--*/
@font-face{
    font-family: 'hannari';
    src: url("./hannari/hannari.otf") format('opentype');
}/*プラグインした、はんなり明朝というwebフォントです。*/

*{
    margin:0px;
    padding:0px;
}

html{
    height:100%;
}

body{
    height:80%;
    margin:0 auto;
    display:block;
}
/*--背景画像--*/

body{
	background-attachment: fixed;
	position:relative;
	background-image:url("../images/backhome.jpg");
	background-size:cover;
	width:1800px;
	height:1300px;
    z-index:-5;/*--背景画像の上に要素を置けるようにする処理--*/
}


.top{
    font-size:18px;/*フォントの大きさ*/
    border: 1px solid #ccc;/*したのボーダー*/
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 210px;
    margin-right: 210px;
    padding:8px 150px;
    text-align: center;
}

.heading {
	font-size: 18px; /*フォントの大きさ*/
	border: 1px solid #ccc; /*したのボーダー*/
	margin-bottom: 15px;
	padding: 8px 15px;
	text-align: center;
}
.resetpasswordconfirm{
	text-aligin:center;
}

footer{
	background-color:rgba(255,255,255,0.3);
	clear:both;
	position:fixed;
	position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
	border-top:2px solid black;
}


footer a{
    color:black;
    text-decoration:none;
}

.inquiry{
    position:absolute;
	left:90px;
	line-height:40px;
	font-family:'hannari';
    font-size:150%;
}


.company{
    position:absolute;
    right:15%;
    line-height:40px;
    font-family:'hannari';
    font-size:150%;
    color:black;
}
.home {
	text-align: center;
	margin: 200px 100px 0px 100px;
	height: 52%;
	font-family: 'hannari';
	font-size:115%;
}

