@charset "utf-8";

html{
	height: 100%;
}

.main {
	width: 60%;
	height: 100%;
	background: rgba(255,255,255,0.7);
	margin: 0 auto;
	text-align: center;
	padding-top: 10px;
	margin-bottom: -50px;
}


.form {
	width: 80%;
	height: auto;
	margin: auto;
	margin-top: 110px;
	margin-bottom: 0px;
	padding-bottom: 60px;
	text-align: center;
	border: 1px solid gray;
	min-width: 200px;
}

.form-heading{
	height: 80px;
	width: 100%;
	text-align: center;
	color: black;
}

p, h1 {
	margin: 0;
	padding: 0;
}