@charset "utf-8";

/*全体*/
body {
	margin:0;
	padding:0;
	line-height:1.6;
	letter-spacing:1px;
	font-family:Verdana, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	background-image:url("../image/b074.jpg");
}

/*テーブル（デザインはtable_styleに記述）*/
table {
	text-align:center;
	margin:0 auto;
}

/*floatの解除*/
.clear{
	clear:both;
}

/*小さく行間をあけたい時のCSS*/
.push{
	height:20px;
}

/*ヘッダーからフッターまでのdiv（フッターの位置調整に必要）*/
.container{
	position: relative;
	width: 100%;
	height: auto !important;
	height: 100%;
	min-height: 100%;
}

/*エラーメッセージの色*/
.error-message{
	color:#a33f3f;
}


/*---------------------------------------------------------------------------------------*/
/*ボタン関係*/

/*ボタンの色*/
.button {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 9pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 5px 11px;   /* 余白       */
  background    : #a99d85;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #a99d85;    /* 枠の指定 */
}

.button:hover {
  color         : #a99d85;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}


/*---------------------------------------------------------------------------------------*/
/*リンク関係*/

/*色の指定*/
a:link { color: #333; }
a:visited { color: #333; }
a:hover { color: #a84848; background-color:rgba(230,200,193,0.5)}
a:active { color: #333; }


/*リンクの下線を消す*/
a{
	text-decoration: none;
}

/*---------------------------------------------------------------------------------------*/

/*リスト関係*/

ul{
	list-style:none;
}

li {
	float:left;
	margin-right:15px;
}

/*---------------------------------------------------------------------------------------*/

/*ヘッダー部分*/

#header {
	width: 100%;
	height: 80px;
	top:0;
	left:0;
	position: fixed;
	top:0;
	margin-bottom:100px;
	background-color:rgba(255,255,255,0.8);
	z-index:10;
	padding-bottom:15px;
}

/*サイトロゴ*/
.header-logo{
	margin-bottm:20px;
	text-align:center;
	font-size:25px;
	padding-top:10px;
}

/*上部メニューリスト*/
.left-list{
	float:left;
}

.right-list{
	float:right;
}


/*---------------------------------------------------------------------------------------*/

/*メイン部分*/

#main {
	width: 80%;
	height: 100%;
	text-align: center;
	background-color:rgba(255,239,209,0.5);
	margin:0 auto;
	margin-top:50px;
	margin-bottom:20px;
	padding-bottom:150px;
	padding-top:40px;
}

/*アイコン下の間隔*/
.icon-push{
	margin-top:30px;
	height:30px;
}

/*メインコンテンツ下の間隔*/
.contentdown-push{
	heigt:20px;
	margin-bottom:130px;
}

/*---------------------------------------------------------------------------------------*/

/*ホーム画面*/

#home-main{
	width:70%;
	margin:0 auto;
}

/*コンテンツ部分とヘッダーの間隔*/
.main-push{
	margin-top:10px;
	height:50px;
}

/*ホームにあるスライドショー*/
.top-image{
	display:block;
	margin:0 auto;
	height:450px;
	margin-top:50px;
	margin-bottom:30px;
	z-index:5;
}

.bx-wrapper {
  margin: 0 !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  background: none !important;
}

.top-image img{
	border-radius: 10px;
	width:100%;
	margin:0 auto;
}

/*ホームのスライドと更新情報間の間隔*/
.menu-push{
	margin-top:50px;
	height:50px;
}

/*更新履歴のボックス*/
.news {
	background-color:rgba(201,186,161,0.5);
	margin:0;
	text-align:center;
}

/*---------------------------------------------------------------------------------------*/

/*商品一覧関係のCSS*/

/*「検索リセット」の文字列の背景*/
.reset{
	background-color:#FFD5EC;
}

/*支払選択の間隔*/
.pay-push{
	margin-top:70px;
}

/*商品一覧の下の間隔*/
.buyItemDown-push{
	height:20px;
	margin-bottom:70px;
}


/*---------------------------------------------------------------------------------------*/

/*フッター*/

footer {
	width: 100%;
	height: 100px;
	background-image:url("../image/renga.jpg");
	clear:both;
	position: absolute;
	bottom: 0;
}

.footer-height{
	padding-top:40px;
}

.footer-push{
	height:100px;
}

.footer-message{
	text-align:center;
	background:rgba(255,239,209,0.5);
}
