@CHARSET "UTF-8";

/*商品や個人情報一覧のデザインCSS*/


/*---------------------------------------------------------------------------------------*/
/*商品一覧のCSS*/

.item-table{
	text-align:center;
}

.dl-list{
	margin:0px;
	padding:0px;
	width:100%;
}

.dd-list:hover{
	background-color:rgba(214,126,126,0.4);
}

.dd-list{
	width:31%;
	display:inline-block;
	background-color:rgba(255,255,255,0.4);
 	font-size: 12px;
 	float:left;
	margin:0;
	padding:15px 0px;
	margin-left:2%;
	margin-bottom:20px;
}

.dd-list:last-child {
	margin-right: 0;
}


/*商品詳細の説明をオンマウスで表示*/
.remark{
	display:none;
}

.item_description{
	position: relative;
}

.item_description a:hover span.remark {
    background: none repeat scroll 0 0 rgba(238,255,238,0.8);;
    border: 1px solid #CCCCCC;
    color: #000000;
    display: block;
    line-height: 1.2em;
    margin: 0.5em;
    padding: 0.5em;
    position: absolute;
    width: 12em;

}

/*---------------------------------------------------------------------------------------*/
/*購入確定ページのCSS*/

/*購入する商品一覧*/
.buy-item-list{
	background-color:rgba(255,255,255,0.4);
	display: inline-block;
	width:400px;
	margin:0 auto;
	padding-bottom:15px;
	padding-top:15px;
	margin-bottom:15px;
}

/*購入金額などを表示する欄*/
.buy-item-confirm{
	background-color:rgba(216, 191, 191, 0.5);
	display: inline-block;
	margin-top:30px;
	padding:15px 20px;
	padding-right:50px;
}


/*---------------------------------------------------------------------------------------*/
/*マイページのCSS*/

/*ユーザー情報リスト*/
.user-table{
	background-color:rgba(222,78,42,0.2);
	width:40%;
	margin:0 auto;
}

.mypage-table {
	border:solid 1px #996f31;
}

.mypage-th{
	background-color:rgba(230,191,133,0.5);
}

.mypage-td{
	border:dashed 1px #bf8939;
}


/*購入履歴がなかった時のテキストCSS*/
.no-purchase{
	background-color:rgba(222,78,42,0.2);
	width:40%;
	height:20px;
	margin:0 auto;
	padding-top:15px;
	padding-bottom:15px;
}


/*---------------------------------------------------------------------------------------*/
/*お問合せ一覧のテーブルCSS*/

.inquiry-table{
	border:solid 1px #996f31;
}

.inquiry-th{
	background-color:rgba(230,191,133,0.5);
}

.inquiry-td{
	border:dashed 1px #bf8939;
}

